<p id="notice"><%= notice %></p>

<p>
  <strong>Media type:</strong>
  <%= @project_story.media_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project_story.description %>
</p>

<p>
  <strong>Video link:</strong>
  <%= @project_story.video_link %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_story.project %>
</p>

<%= link_to 'Edit', edit_project_story_path(@project_story) %> |
<%= link_to 'Back', project_stories_path %>
