<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Slogan</th>
      <th>Description</th>
      <th>Approved</th>
      <th>User</th>
      <th>Vote</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.slogan %></td>
        <td><%= project.description %></td>
        <td><%= project.approved %></td>
        <td><%= project.user.email %></td>
        <td>
          <%= link_to project_upvote_path(project), class: 'likes', remote: true,  method: :get, data: { type: :json } do%>
             <span class="likes-count"><%= project.get_upvotes.size%></span> Vote
          <% end %>
        </td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>

<script>
  function updateVotable(){
    $('.likes').each(function(i, lesson){
      var status = $(lesson).data('liked');
      var url = $(lesson).attr('href')
      var href = url.split('/')
      href.pop()
      var url_start = href.join('/')
      if(status == true){
        console.log(i + 'true')
        $(lesson).attr('href', url_start + '/dislike')
      }else if(status == false){
        $(lesson).attr('href', url_start + '/like')
        console.log(i + 'false')
      }
    })
  }
  $(document).ready(function(){
    $('.likes').on('click', function(e){
      e.preventDefault()

    })
    $('.likes').on('ajax:success', function(e, data, status, xhr){
      console.log(data.count)
      var count = data.count
      var liked = $(this).data('liked')
      $(this).find('.likes-count').html(count)
      if(liked == true){
        $(this).data('liked', false)
      }else if(liked == false){
        $(this).data('liked', true)
      }
      updateVotable();
    });
    updateVotable();
  });
</script>
