<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field"> 
    <%= f.label :featured_img %>
    <%= f.file_field :featured_img %>
  </div>
  <div class="field">
    <%= f.label :slogan %><br>
    <%= f.text_field :slogan %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :approved, value: false%>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <% if @project.published == false %>
    <div class="publish_actions">
      <div class="actions">
        <%= f.submit 'Save' %>
      </div> 
    </div>
  <% end %>
<% end %>

<% if @project.published == false && @project.id.present?%>
  <button data-open="donation">Publish</button>
<% end %>

<div class="modal hidden" id="donation">
  <%= render 'charges/new', locals: {project: @project}%>
</div>

<script>
  $(document).ready(() => {
    var handler;
    $('.publish_project').on('ajax:success', (e, data, status, xhr) => {
     
      console.log(data, 'the data')
      data.published ? $('.publish_actions').css('display', 'none') : $('.publish_actions').css('display', 'block')
    });

    $('[data-open]').on('click', (e) => {
      let modal = `#${$(e.target).data('open')}`
      $(modal).removeClass('hidden')
      handler = StripeCheckout.configure({
        key: '<%= Rails.configuration.stripe[:publishable_key] %>',
        locale: 'auto',
        name: 'Alsu App',
        description: 'One-time donation',
        token: function(token) {
          $('input#stripeToken').val(token.id);
          $('form').submit();
        }
      });
      console.log(handler, 'handler')
    
    })
    
    
    $('#donateButton').on('click', function(e) {
      e.preventDefault();

      $('#error_explanation').html('');

      var amount = $('input#amount').val();
      amount = amount.replace(/\$/g, '').replace(/\,/g, '')

      amount = parseFloat(amount);

      if (isNaN(amount)) {
        $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
      }
      else if (amount < 5.00) {
        $('#error_explanation').html('<p>Donation amount must be at least $5.</p>');
      }
      else {
        amount = amount * 100; // Needs to be an integer!
        handler.open({
          amount: Math.round(amount)
        })
      }
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
      handler.close();
    });
  })
</script>




