<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
 <%= image_tag @project.featured_img.url ? @project.featured_img.url(:original) : '' %>
<p>
  <strong>Slogan:</strong>
  <%= @project.slogan %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @project.approved %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
