<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
 <%= image_tag @project.featured_img.url ? @project.featured_img.url(:original) : '' %>
<p>
  <strong>Slogan:</strong>
  <%= @project.slogan %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @project.objective %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @project.approved %>
</p>

<p>
  <strong>User (created by):</strong>
  <%= @project.user.full_name %>
</p>
<p>
  <strong>categories:</strong>
  <ul>
    <% @project.category_list.each do |cat|%>
      <li><%= cat %> </li>
    <% end %>
  </ul>
</p>

<% @project_stories.each do |project|%>
  <% if project.media_type == 'text' %>
    <p><%= project.description%></p>
  <% elsif project.media_type == 'video'%>  
    <a href="<%= project.video_link%>">video</a>
  <% elsif project.media_type == 'image'%>  
    <%= image_tag project.img.url ? project.img.url(:original) : '' %>
  <% end %>  
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
