<%= form_tag charges_path do %>
  <% if flash[:error].present? %>
    <div id="error_explanation">
        <p><%= flash[:error] %></p>
    </div>
  <% end %>
  <article>
    <%= label_tag(:amount, 'Donation Amount:') %>
    <%= text_field_tag(:amount) %>
  </article>
  <article>
    <%= hidden_field_tag(:stripeToken) %>
  </article>
  <%= @project.name%>
  <%= hidden_field_tag('project', @project.id) %>
  <button id='donateButton'>Donate</button>
<% end %>


