<!DOCTYPE html>
<html>
<head>
  <title>AlsuApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<nav class="clearfix">
		<ul class="clearfix">
			<li><%= link_to 'All approved projects', all_projects_path %></li>
			<% if current_user.present? && current_user.is_admin? %>
				<li><%= link_to 'All Submitted Projects', projects_path %></li>
			<% end %>
			<li><%= link_to 'My Projects', projects_path %></li>
			<li><%= link_to 'New Project', new_project_path %></li>
		</ul>
		<div class="login">
			<% if user_signed_in? %>
			  Logged in as <strong><%= current_user.email %></strong>.
			  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
			  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
			  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>
		</div>
	</nav>
	<%= yield %>

</body>
</html>
